/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
    .copyright{
        background-color: $dark_cyan;
        color: $pale_cyan;
        padding-bottom: 2em;
        text-align: center;
    }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
}