img{max-width: 100%;}

body{font-family: 'Open Sans', sans-serif;}
h1{font-family: 'Poppins', sans-serif;}

@media only screen and (min-width: 300px) {
    html{overflow-x: hidden;}
    img{max-width: 100%;}
    section{
        width: 100%;
        .content_wrap{
            max-width: 1440px;
            width: 90%;
            margin:auto
        }
    }
    footer,.copyright{
        max-width: 1440px;
        width: 90%;
        margin:auto
    }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
}