/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
    .middle{
        .content_wrap{
            @include center;
            flex-direction: column;
            position: relative;
            padding-bottom: 13em;
            .middle_piece{
                box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.20);
                margin-bottom: 2em;
                text-align: center;
                padding: 3em 1.2em 3em 1.2em;
                border-radius: 2em;
                color: $dark_cyan;

                h1{
                    font-size: 1.4rem;
                    margin-bottom: 1em;
                }
                p{
                    font-size: 1.1rem;
                    color: $grayish_blue;
                }
                img{
                    width: 85%;
                    margin-bottom: 3.5em;
                }
            }
            // the overlapping element
            :nth-child(4){
                @include center;
                flex-direction: column;
                position: absolute;
                background-color: white;
                z-index: 20;
                bottom: -7em;
                height: 10em;
                width: 22.5em;
                h1{
                    margin-bottom: 0;
                    font-size: 1.1rem;
                    margin-bottom: 1em;
                }
                .button{
                    background-color: $pink;
                    color: $pale_cyan;
                    padding: 0.5em 2em 0.5em 2em;
                    border-radius: 2.5em;
                }
            }
        }
    }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
    .middle{
        .content_wrap{
            padding-bottom: 8em;
            .middle_piece{
                @include center;
                padding: 0;
                img,.text_wrap{
                    width: 50%;
                }
                img,.text_wrap{
                    padding: 0;
                }
                .text_wrap{
                    text-align: left;
                    padding: 0% 5% 0% 10%;
                    h1{
                        font-size: 1em;
                    }
                    p{
                        font-size: .8em;
                    }
                }
                img{
                    margin: 0;
                    padding: 5%;
                    width: 40%;
                }
                border-radius: .5em;
            }
            .middle_piece:nth-child(1),.middle_piece:nth-child(3){
                flex-direction: row-reverse;
            }
            :nth-child(4){
                width: 45em;
            }
        }
    }
}
